# Set a default code editor here
CODE_EDITOR=${CODE_EDITOR:-code-insiders}

# Reload the shell (i.e. invoke as a login shell)
alias reload="exec ${SHELL} -l"

# Quick Navigation
alias db="cd ~/Dropbox"
alias dl="cd ~/Downloads"
alias dt="cd ~/Desktop"
alias gd="cd ~/Google\ Drive"

# Open currenty directory or given location
function o() { if [ $# -eq 0 ]; then open .; else open "$@"; fi; }

# Open editor in current directory or given location
function e() { if [ $# -eq 0 ]; then $CODE_EDITOR .; else $CODE_EDITOR "$@"; fi; }

# Git’s colored diff
function gdiff() { git diff --no-index --color-words "$@"; }

# List Google Chrome bookmarks or open a bookmark by bookmark number
function bm() {
  if [ $# -eq 0 ]; then
    jq -r '.roots.bookmark_bar.children[].name' ~/Library/Application\ Support/Google/Chrome/Default/Bookmarks | awk '{print NR-1 ": " $0}';
  else
    open `jq -r ".roots.bookmark_bar.children[$1].url" ~/Library/Application\ Support/Google/Chrome/Default/Bookmarks`;
  fi;
}

# Hide/show all desktop icons (useful when presenting)
alias hidedesktop="defaults write com.apple.finder CreateDesktop -bool false && killall Finder"
alias showdesktop="defaults write com.apple.finder CreateDesktop -bool true && killall Finder"

